[packages]
typer = ">=0.6.1"
tasks-tracker = {path = "."}

[dev-packages]
black = ">=22.8.0"
flake8 = ">=5.0.4"
isort = ">=5.10.1"
pytest = ">=7.1.3"
pytest-cov = ">=3.0.0"

[requires]
python_version = "3.10"

[scripts]
dev = "python -m tasks_tracker"
test = "python -m pytest tests"
